Other/*
Test/*
Tools/Dont_publish/*
*.tmp
*.log
Windows/Ini.cmd
*.~*
*.obj
*.tds
*.res
*.dsk
*.dat
*.xz
*.25*
*.26*
# EVONETRTKBASE
__pycache__/
rete/test/flaskapp/static/
rete/test/flaskapp/templates/network*.html
venv/
